@model Hospital.Web.Models.ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<div>
    <h3>Request ID: <code>@Model.RequestId</code></h3>
    <p>
        <strong>Note:</strong> Include this information in your support request.
    </p>
</div>
